html{
    font-size: 10px;  /* setting 1em = 10px */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:rgb(70, 69, 69);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f2faff, rgb(247, 246, 246));
}

nav{
    /* background-color: lightpink; */
    height: 8rem;
    width: 100%;
    max-width: 130rem;
    display: flex;
    font-size: 1.65rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1500;
    top:0;
    /* right: 2rem; */
    /* border: 1px solid black; */
    margin-left: 20px;

}

.nav-left-container{
    height: 100%;
    width: 25rem;
    margin: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left{
    /* width: 15rem;
    padding-left: 5%; */

    max-width: 15rem;
    min-width: 10rem;
    padding-left: 5%;
    display: flex;
    flex-grow: 2;

    @media screen and (max-width: 600px) {
        min-width: 15rem;
        padding-top: 2%;
        /* padding-left: 2%; */
    }

}

.logo-img{
    width: 100%;
}


.navigation{
    display: flex;
    justify-content: flex-end;
    margin-left: 15%;

    @media screen and (max-width: 600px) 
    {
        display: none;
    }
}

.navigation-mobile{
    display: none;
    @media screen and (max-width: 600px)
    {
        display: block;
        margin-right: 20%;
        margin-top: 5%;
    }
}

.mobile-drop-down{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0;
    left: -10px;
}



.nav-center{
    display: flex;
    /* flex: 2; */
    justify-content: center;
    align-items: center;
    /* padding-bottom: 1rem; */
    /* margin-left: 10%; */
    margin-left: 5rem;
    margin-right: 0;
    width: auto;
    font-weight: 300;
    /* border: 1px solid black; */
    flex-shrink: 0;
    /* background-color: aqua;  */
    
}

.nav-item-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    position: relative;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding-top: 1rem; */
}

.nav-item:hover .drop-down{
    display: block;

}

.drop-down{
    position: absolute;
    top: 4rem;
    /* right: 50%; */
    width: 35rem;
    height: 53rem;
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.1);
    display: none;

}

.dd-submenu{
    position: absolute;
    width: 70rem;
    height: 53rem;
    left: 35rem;
    top: 0;
    background-color: white;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
    display: none;
}

.dd-submenu-section{
    height: 100%;
    width: 50%;
    margin-right: -50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dd-submenu-section a{
    display: inherit;
    margin: inherit;
    padding: inherit;
}


.subsection{
    width: 25rem;
    height: 9rem;
    /* border: 1px solid black; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    opacity: 0.9;
    padding: 0 0 3rem 4rem;
    margin-bottom: 1rem;
    position: relative;
    /* background-color: aqua; */
    @media screen and (max-width: 600px){
        height: 5px;
        margin-left: 3rem;      
    }

}

.subsection:hover{
    background-color: rgb(243, 242, 242); 
    
}

.subsection-icon{
    position: absolute;
    left: 1.5rem;
    top: 2.5rem;
    @media screen and (max-width: 600px){
        top: 0
    }
}

.subsection h5{
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.8;

}

.subsection p{
    margin-top: -1rem;

}


.sideicon{
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: x-large;
    visibility: hidden;

}

.sideicon-small{
    position: absolute;
    right: 2rem;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    visibility: hidden;

}

/* .drop-down a:hover{
    /* background-color: rgb(255, 249, 249);        
    background-color: pink;
} */

/* .drop-down a:hover .sideicon{
    visibility: visible;
} */

/* .drop-down a:hover .dd-submenu{
    display: flex;
} */

.dd-templates{
    height: 50rem;
}

.dd-templates-submenu{
    height: 50rem;
    width: 56rem;
    position: absolute;
    left: 22rem;
    box-shadow: none;
}

.drop-down-section{
    /* border: 1px solid black; */
    padding: 4rem;
    background-color: inherit;
    position: relative;
}

.drop-down-section:hover .sideicon{         /* Right chevron icon */
    visibility: visible;
}

.drop-down-section:hover .dd-submenu{       /* The entire sub-menu */
    display: flex;
}

.drop-down-section:hover, .dd-items:hover{
    background-color: rgb(243, 242, 242);         /*   For Bonsai Workflow */    
    cursor: pointer;
}


.dd-items{
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    opacity: 0.85;
    position: relative;
    /* justify-content: center; */

    /* border: 1px solid black; */
}

.dd-items:hover .sideicon-small{
    visibility: visible;
}

.nav-icon{
    margin-right: 1rem;
}

.dd-header{
    font-family: "Amerigo BT Roman";
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.dd-content{
    margin-top: 5px;
    font-weight: 400;
    opacity: .85;
    @media screen and (max-width: 600px){
        font-size: small;
    }
}

.dd-hr{
    background-color: gray;
    width: 80%;
    height: 0.2px;
    opacity: .3;
}

.nav-item a{
    text-decoration: none;
    color: rgb(32, 31, 31);
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    margin-left: 5rem;
    padding-right: 5%;
    /* border: 1px solid black; */
    flex-shrink: 0;
}

main{
    /* background-color: #f2faff; */
    /* background: linear-gradient(to bottom, #f2faff, rgb(247, 246, 246)); */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.nav-btn{
    margin-left: 17px;
    padding: 12px 27px 9px;
    border: 1px solid #00b289;
    border-radius: 4px;
    /* background-color: #00b289; */
    /* color: white; */
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


.btn-1{
    background-color: white;
    color: #00b289;
    /* min-width: 100px; */
    max-height: 35px;
    flex-wrap: nowrap;
    transition: 0.2s;
    @media screen and (max-width: 600px){
        width: 75%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

.btn-1:hover{
    background-color: #00b289;
    color: white;
    cursor: pointer;
}

.btn-2{
    background-color: #00b289;
    color:white;
    min-width: 80px;
    max-height: 35px;
    transition: 0.2s;
    @media screen and (max-width: 600px){
        width: 75%;
    }
}

.btn-2:hover{
    background-color: #019c78;
    cursor: pointer;
}

.chev_space{
    margin-left: 1rem;
}

.PnP{
    margin-top: 2%;

}

.PnP_Heading{
    display: flex;
    height: 18rem;
    /* background-color: pink; */
    /* align-items: center; */
    align-items: last baseline;
    justify-content: center;
    z-index: 1000;
    /* padding-top: 17rem; */
    /* border: 1px solid black; */

}

.PnP_Heading1{
    font-family: "Amerigo BT Roman";
    font-size: 3.9rem;
    padding-top: 3rem;
    /* border: 1px solid black; */

}

.addon_heading{
    text-align: center;
    font-family: "Amerigo BT Roman";
    font-size: 3rem;
    padding: 3rem 0;
    margin-top: 7rem;
}

.PnP_Monthly{
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 7rem;
    margin-right: 3rem;
    /* border: 1px solid black; */
}

.PnP_Yearly{
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 3rem;
    color: gray;
    /* border: 1px solid black; */

    
}

.toggle{
    width: 6rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #00b289;
    position: relative;
    /* border: 1px solid black; */

}


.button{
    width: 6rem;
    height: 3.5rem;
    /* border: 1px solid black; */
    border-radius: 10rem;
    background-color: #00b289;
    position: relative;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.button::before{
    content: ' ';                   /* all the styling below is for the content '' */
    background-color: white;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    top: 3px;
    left: 2px;
    transition: 0.2s;

}


/* input:checked + .button{
    background-color: blue;
} */

input:checked + .button::before{
    transform: translateX(2.8rem);
}

.toggle_container{
    display: flex;
    align-items: center;
    position: relative;
    /* border: 1px solid black; */
}

.offer-img{
    position: absolute;
    top: -3rem;
    right: -2rem;
}

input{
    display: none;
}

.PnP_Items_Container{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: center;
    margin-top: 5%;
    /* border: 1px solid black; */
    
}

.container{
    margin: 70px; 
    width: 107.4rem;
    /* border: 1px solid black; */
    /* height: 4000px; */
    justify-self: center;
    
    
}

.Item_Heading{
    font-size: 2.6rem;
    font-weight: 400;
}

.Item_desc{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

.Item_price{
    font-size: 6.4rem;
    font-weight: 900;
    margin-top: 2rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;


}

.sup{
    font-size: 2.4rem;
    font-weight: 400;
}

.sub{
    font-size: 2rem;
    vertical-align: baseline;
    font-weight: 400;
}

hr{
    background-color: #00b289;
    height: 1.5px;
    margin-top: -0.1rem;
}

.Item_list{
    font-size: 1.6rem;
    /* line-height: 300%; */
    font-weight: 300;
}

.Item_list ul{
    list-style-image: url('../images/green-tick.svg');
    /* position: absolute;
    left: 0; */
    margin: 0;
    padding: 1.5rem;
    margin-bottom: 50px;
    /* line-height: 300%; */
}

li{
    margin-bottom: 3rem;
}

.nav-bgd{
    width: 100%;
    height: 8rem;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.PnP_Item{
    height: 100rem;
    /* min-width: 0px; */
    /* max-width: 35rem; */
    width: 35rem;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
    box-shadow: 5px 5px 16px -9px rgba(0,0,0,0.2);
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 1.2rem 0 1.2rem;

}

.item_container{
    /* margin: 6rem 4rem; */
    /* padding: 6rem 4rem; */
    width: 75%;
    height: 90%;
    /* border: 1px solid black; */
    position: relative;
    
}

.btn_container{
    display: flex;
    justify-content: center;
    position: absolute;
    justify-content: center;
    position: absolute;
    bottom: 6rem;
    border: 1px solid black;
    width: 30rem;
    height: 5rem;
}

.Item_btn{
    width: 100%;
    height: 6rem ;
    background-color: #00b289;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    /* padding-left: 0; */
    /* border: 1px solid black; */

    /* margin-left: 17px; */
    /* padding: 12px 27px 9px; */
    /* border: 1px solid #00b289; */
    border-radius: 4px;
    /* background-color: #00b289; */
    /* color: white; */
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.popular_tag{
    width: 36rem;
    height: 4rem;
    background-color: #00b289;
    position: relative;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 17rem;
    text-transform: uppercase;
    position: absolute;
    top: 7rem;
    right: -22rem;
    transform: rotate(45deg);
    /* z-index: 2; */

}

h4{
    font-size: 2.3rem;
}

.addon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 1rem 10rem 1rem 3rem;
    width: 70%;
    justify-self: center;
}

.addon_desc p{
    font-size: 1.6rem;
    font-weight: 300;
}

.addon_desc{
    line-height: 0;
}

.addon_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5%;  */
    width: auto;
    /* border: 1px solid black; */
    background-color: white;
   padding: 2rem 10rem 3rem 3rem;
   margin-bottom: 1rem;
    
}

.addon_price{
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.paragraph{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 5px;
}

.link{
    font-size: 1.4rem;
    font-weight: bold;
    color: #00b289;
    text-decoration: none;
    line-height: 3rem;
}

.tagline_container{
    font-family: "Amerigo BT Roman";
    font-size: 4.3rem;
    /* padding-top: 3rem; */
    width: 100%;
    /* margin: 5%; */
    height: 25rem;
    /* background-color: #f2faff; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.tagline{
    background-color: #f2faff;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    /* box-shadow: 5px 5px 16px -9px rgba(0,0,0,0.2); */
    box-shadow: -1px 1px 39px 0px rgba(0,0,0,0.07);
    /* border: 1px solid rgb(216, 215, 215); */
}

.content, .tagline_btn{
    display: flex;
    align-items: center;
}

.tagline_btn{
    margin-left: 17px;
    padding: 12px 27px 9px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    background-color: #00b289;
    color:white;
    height: 2.5rem;
    width: 9rem;
}

.fontcolor{
    display: inline-block;
    color: #00b289;
}

.faq_heading{
    font-size: xx-large;
    color: #00b289;
    text-align: center;
    font-weight: 700;
    margin-top: 10rem;
}

.faq_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.faq{
    width: 70%;
    border: 1px solid black;
    
    
}
.faq_link{
    font-size: x-large;
    /* text-align: center; */
    font-weight: 700;
    text-decoration: none;
    color: #4c5276;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.collapsible-content{
    display: none;
    font-size: medium;
    width: 70%;
    margin: 1rem 0.5rem;
    font-weight: 400;
    line-height: 3rem;

}

.faq_link:hover{
    color: #00b289;
}

#dd-submenu-heading{
    font-family: "Amerigo BT Roman";
    font-size: 2rem;
    font-weight: 500;
}

#btn-btn-1, #btn-btn-2, #btn-btn-3, #btn-btn-4{
    background-image: url(../images/btn-1.png);
    background-size: cover;
    width: 40rem;
    height: 7.5rem;
    border: 1px solid rgb(205, 201, 201);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

}

#seeall{
    width: 40rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #00b289;
}

#btn-btn-2, #btn-btn-4{
    background-image: url(../images/btn-2-4.png);
    
}

.btn-btn-3{
    background-image: url(../images/btn-3.png);

}



footer{
    /* width: 120rem; */
    /* min-width: 120rem; */
    /* max-width: 120rem; */
    width: 70%;
    max-width: 120rem;
    /* border: 1px solid black; */
    /* margin: 0; */
    display: flex;
    justify-content: space-between;

}

.footer-product, .footer-free-resources, .footer-bonsai{
    /* border: 1px solid red; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-right: 30%; */
    
}

.footer-heading{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5rem;
}

.footer-list{
    /* border: 1px solid blue; */
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    line-height: 200%;
    
    

}

.footer-list a{
    color: black;
    text-decoration: none;
   
}

.footer-list a:hover{
    font-weight: 400;

}

.menu-header{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 3rem;
}

.menu-options{
    font-size: 2rem;
    margin-top: 3rem;
    position: relative;
}

.m-option{
    margin-left: 2rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.m-option-hr{
    margin-top: 0;
    background-color: gray;
    width: 85%;
    margin-left: 2rem; 
    opacity: 0.3;
}


/* .footer-list li{
    margin-left: 0;
    margin-right: 50%;
} */

.close{
    height: 30px;
    margin-top: 2rem; 
    margin-right: 2rem;
}


.pt-drop-down{
    height: 90rem;
    width: 40rem;
    background-color: white;
    position: absolute;
    top: 0;
    /* left: -10px; */
    z-index: 2;
    display: none;
}

.pt-submenu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* .m-product:hover .pt-drop-down{
    display: block;
} */

/* .m-pt:active .pt-drop-down{
    display: block;
} */